# Do not need java binaries
bin/
out/
*.class
*.project
*.classpath
*.prefs
# include java files
!*.java
# include python files
!*.py
# include txt files
!*.txt
# do not include certain user-specific intellij files
.idea/workspace.xml
.idea/tasks.xml
.idea/libraries/*.xml
*.iws
